<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../CSS/Back.css">
        <meta charset="UTF-8"> 
        <title>
            pepe
        </title>
    </head>
    <body>
        <header>
            <p id="gang1">
                <img src="../../IMAGES/MemeLand.png" alt="Logo" height="312" width="260">
            </p>
        </header>
        
        <nav>
            <div class="dropdown">
              <button class="dropbtn">
                <img src="../../IMAGES/MemeLand.png" alt="Logo"  height="156" width="130">
                <img id="logoOver" src="../../IMAGES/Pepe_eyesspace.png" alt="Logo"  height="156" width="130">
              </button>
              <div class="dropdown-content">
                <a href="./../index.html">Acceuil</a>
                <a href="./../services.html">Services</a>
                <a href="./../equipe.html">L'Equipe</a>
              </div>
            </div>
        </nav>

        <aside>
          <div class="menu_s">
            <a href="./pulls.html"><div class="smenu_s" onclick="location.href='./pulls.html';"><h1>Pulls</a>
            </div>
            <a href="./shirts.html"><div class="smenu_s" onclick="location.href='./shirts.html';"><h1>T-shirts</a>
            </div>
            <a href="./chaussures.html"><div class="smenu_s" onclick="location.href='./chaussures.html';"><h1>Chaussures</a>
            </div>
            <a href="./pins.html"><div class="smenu_s" onclick="location.href='./pins.html';"><h1>Pins</a></h1>
            </div>
          </div>
        </aside>
        
        <section>
            <main class="prod">
              <article class="prod1">
                <h3>Pin (classique)</h3>
                  <p class="jtexte">
                  <a href="../../IMAGES/Services/pin1.png" target="blank"><img src="../../IMAGES/Services/pin1.png" alt="pin1" class="perso"></a> 
                    <strong>5$</strong><br/>
                    Provenance: France
                  </p>
              </article>

              <article class="prod1">
                <h3>Pin (space)</h3>
                  <p class="jtexte">
                  <a href="../../IMAGES/Services/pin2.png" target="blank"><img src="../../IMAGES/Services/pin2.png" alt="pin2" class="perso"></a> 
                    <strong>5$</strong><br/>
                    Provenance: France
                  </p>
              </article>

              <article class="prod1">
                <h3>lot des 2</h3>
                  <p class="jtexte">
                  <a href="../../IMAGES/Services/pin3.png" target="blank"><img src="../../IMAGES/Services/pin3.png" alt="pin3" class="perso"></a> 
                    <strong>8$</strong><br/>
                    Provenance: France
                  </p>
              </article>
            </main>               
        </section>
    
    <footer>
      <a href="#gang1"><img src="../../IMAGES/up.png" id= "up" alt="debut"></a>
    </footer>    
</body>
</html>
